annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
filelock
fsspec
h11
huggingface-hub
idna
jinja2
joblib
markupsafe
mpmath
networkx
nltk
numpy
packaging
pillow
pydantic
pydantic-core
pymupdf
pymupdfb
python-multipart
pyyaml
rapidfuzz
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
sniffio
starlette
sympy
threadpoolctl
timeout-decorator
tokenizers
torch
torchvision
tqdm
transformers
typing-extensions
typing-inspection
urllib3
uvicorn
python-multipart
faster-whisper
requests
python-dotenv
soundfile
opencv-python-headless
numpy
pandas
tqdm
matplotlib
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
dnspython
fastapi
filelock
frozenlist
fsspec
greenlet
h11
html2text
httpcore
httpx
httpx-sse
huggingface-hub
idna
jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-classic
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
markupsafe
marshmallow
mpmath
multidict
mypy-extensions
networkx
numpy
ollama
openai
orjson
ormsgpack
packaging
playwright
playwright-stealth
propcache
pydantic
pydantic-core
pydantic-settings
pyee
pymongo
python-dotenv
pyyaml
regex
requests
requests-toolbelt
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
sniffio
sqlalchemy
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
typing-extensions
typing-inspect
typing-inspection
urllib3
uvicorn
xxhash
yarl
zstandard
